<nav>
  <bc-menu></bc-menu>
</nav>

<div>
  <label>Enter some text:</label>
  <input [(ngModel)]="aString1" type="text">
  <button (click)="copy()">Copy</button>
  <span>{{ aString1 }}</span>
</div>
<h1>{{ title }}</h1>
<button (click)="clicked()">Click Here</button>
<ul>
  <li *ngFor="let name of names">{{ name }}</li>
</ul>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Sales</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody> 
    <tr *ngFor="let c of customers">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.sales | currency}}</td>
      <td>{{ c.state }}</td>
    </tr>
  </tbody>
</table>

<app-footer></app-footer>